$primary-gold: #b19540;
$dark-navy-blue: #0b0b45;
$intense-black: #1a1819;
$intense-white: #f8f9fa;
$black-purple: #0f0616;
$italian-black: #1b1c1b;
$matte-darkblue: #0b0b60;
$king-blue: #66aade;
$white-marble: #e7e9ea;
$background-image1: url("../src/assets/images/sclass.jpg");
$background-image2: url("../src/assets/images/audi.jpg");
$background-image3: url("../src/assets/images/clients.jpg");
$background-registration: url("../src/assets/images/new.jpeg");
$background-contact: url("../src/assets/images/sclassblack.jpg");

$background-overlay: rgba(0, 0, 0, 0.9);

@font-face {
  font-family: "Merriweather";
  src: url(../font/Merriweather/Merriweather-Regular.ttf);
}
@font-face {
  font-family: "PinyonScript";
  src: url(../font/Pinyon_Script/PinyonScript-Regular.ttf);
}
@font-face {
  font-family: "Tangerine";
  src: url(../font/Tangerine/Tangerine-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root {
  background-color: $black-purple;
  color: $intense-white;
}
body {
  font-family: "Merriweather";
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.header {
  position: sticky;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1000;
  height: 20%;
  justify-content: space-between;
  align-items: center;
  .top-bar {
    display: flex;
    justify-content: space-between;
    .left-side img {
      width: 13rem;
      height: 3rem;
    }
    .right-side {
      display: flex;
      justify-content: space-between;
      width: 40%;
      align-items: center;
      .email {
        color: $primary-gold;
        font-weight: bold;
      }
      .phone-number {
        border: 2px solid $primary-gold;
        padding: 0.5rem;
        font-size: 1rem;
        font-family: sans-serif;
        font-weight: 500;
      }
    }
  }
  .bottom-bar {
    border-top: 1px solid $primary-gold;
    .nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    a {
      padding: 0.5rem;
      color: $intense-white;
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 400;
      transition: color 0.2s;

      &:hover {
        color: $primary-gold;
      }
    }
  }
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  font-weight: 500;
  img {
    width: 13rem;
    height: 3rem;
    float: left;
  }
  p {
    text-transform: uppercase;
    margin-top: 1rem;
  }
  a {
    display: block;
    text-align: center;
    margin-top: 0.7rem;
    text-transform: uppercase;
    color: $intense-white;
    transition: color 0.2s;
    &:hover {
      color: $primary-gold;
    }
  }
}
.social-media {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 2rem;
  a {
    color: $intense-white;
    transition: color 0.2s;
    &:hover {
      color: $primary-gold;
    }
  }
}
.footer-copyright {
  text-align: center;
  margin: 2rem auto;
}
.image-container-first {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: $background-image1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 15rem;
  z-index: 3;
  font-size: 1.2rem;

  h1 {
    color: $intense-white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.911);
    position: relative;
    font-family: PinyonScript;
    font-weight: bold;
    font-size: 6rem;
    animation: fadaeInFromLeft 3s ease forwards;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: $primary-gold;
      bottom: -5px;
      transform: translateX(-50%);
    }
  }
  p {
    color: $intense-white;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.911);
    margin: 1rem 0;
    font-size: 2rem;
    animation: fadeInFromRight 4s ease forwards;
  }
  .btn {
    font-family: Merriweather;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0.3rem;
    font-size: 1rem;
    width: 9rem;
    color: $primary-gold;
    border: 1px solid $primary-gold;
    background-color: $black-purple;
    transition: color 0.3s;
    &:hover {
      color: $intense-white;
    }
  }
}
.image-container-second {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: $background-image2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 40%;
    top: 15rem;
    z-index: 3;

    h1 {
      color: $intense-white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.911);
      position: relative;
      font-family: PinyonScript;
      font-weight: bold;
      font-size: 5rem;
      animation: fadaeInFromLeft 3s ease forwards;
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background-color: $primary-gold;
        bottom: -5px;
        transform: translateX(-50%);
      }
    }
    p {
      color: $intense-white;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.98);
      margin: 1rem 0;
      font-size: 1.1rem;
      animation: fadeInFromRight 4s ease forwards;
      text-transform: none;
      font-weight: 500;
    }
    .btn {
      font-family: Merriweather;
      text-transform: uppercase;
      font-weight: 500;
      padding: 0.3rem;
      font-size: 1rem;
      width: 10rem;
      color: $primary-gold;
      border: 1px solid $primary-gold;
      background-color: $black-purple;
      transition: color 0.3s;
      &:hover {
        color: $intense-white;
      }
    }
  }
}
.image-container-third {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: $background-image3;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .content-wrapper {
    text-align: center;
    z-index: 3;
    top: 5rem;

    h1 {
      color: $intense-white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.911);
      font-family: PinyonScript;
      font-weight: bold;
      font-size: 5rem;
      &::after {
        content: "";
        position: absolute;
        width: 40rem;
        background-color: $primary-gold;
      }
    }

    .clients-wrapper {
      margin: 7rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10rem;
      .client {
        border: 3px solid $primary-gold;
        box-shadow: 0px 0px 8px 0px rgba(247, 239, 239, 0.75);
        width: 15rem;
        img {
          width: 100%;
          height: 10rem;
        }
        p {
          color: $primary-gold;
          font-size: 1rem;
          font-family: "Courier New", Courier, monospace;
          font-weight: bold;
        }
        .comment {
          color: $intense-white;
        }
      }
    }
  }
  .content-wrapper h1,
  .content-wrapper p {
    animation: none;
  }
}
.wrapper-registration {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: $background-registration;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Merriweather;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .regform {
    z-index: 2;
    position: absolute;
    top: 45%;
    left: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 30%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem;

    header {
      text-align: center;
      font-family: PinyonScript;
      font-size: 3.5rem;
    }

    .first-row {
      display: flex;
      justify-content: space-between;
      .left,
      .right {
        flex: 1;
      }
      .left {
        margin-right: 1rem;
      }
    }
    .reg-btn {
      margin: 1rem 0;
      width: 10rem;
      padding: 1rem;
      font-size: 1rem;
      font-weight: bold;
      font-family: Merriweather;
      border: none;
      transition: background-color 0.2s;

      &:hover {
        background-color: $primary-gold;
      }
    }

    input {
      width: 100%;
      display: block;
      height: 2.5rem;
      font-family: serif;
      font-size: 1.2rem;
      padding-left: 10px;
      border: 2px solid $primary-gold;
      color: white;
      background: transparent;

      &::placeholder {
        color: white;
        font-style: italic;
      }
    }
    select {
      width: 6rem;
      height: 2rem;
      padding-left: 10px;
      font-size: 0.95rem;
      color: $intense-white;
      background: transparent;
      border: 2px solid $primary-gold;
      option {
        color: $intense-white;
        background-color: $intense-black;
      }
    }
    a {
      color: gold;
      text-transform: uppercase;
    }
    p {
      font-family: Merriweather;
    }
    .flag-menu {
      button:focus,
      button:focus-visible {
        outline: none;
      }
      .ReactFlagsSelect-module_selectBtn__19wW7 {
        background-color: transparent;
        border: 2px solid $primary-gold;
      }
      .ReactFlagsSelect-module_fullWidthOptions__1XeR6 {
        color: black;
      }
      .ReactFlagsSelect-module_label__27pw9 {
        color: $intense-white;
      }
      .ReactFlagsSelect-module_fullWidthOptions__1XeR6 {
        background-color: $italian-black;
        li:hover {
          background-color: $primary-gold;
        }
      }
    }
  }
}

.logform {
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  font-family: Merriweather;

  header {
    text-align: center;
    font-family: PinyonScript;
    font-size: 3.5rem;
  }
  input {
    height: 2rem;
    padding-left: 5px;
    font-size: 1rem;
    font-family: sans-serif;
  }
  .button-wrapper {
    text-align: center;
  }
  button {
    width: 30%;
    margin: 1rem;
    padding: 0.5rem;
    font-family: Merriweather;
    font-size: 1rem;
    background-color: $matte-darkblue;
    color: white;
    border: none;
    transition: background-color 0.3s, color 0.1s;
    &:hover {
      background-color: $intense-white;
      color: black;
    }
  }
  a {
    text-transform: uppercase;
    font-weight: bold;
    color: $king-blue;
  }
}
.contact-wrapper {
  background-color: black;

  .contact {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .contact-footer {
    text-align: center;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1rem;
  }
}
.termsandcondition-wrapper {
  background-color: $intense-white;
  text-align: center;
  color: black;
  font-family: Merriweather;
  width: 100%;
  height: 40vh;
  h1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
    text-transform: uppercase;
  }
}
.vozila-container {
  display: flex;
  gap: 4rem;
  width: 100%;
  height: 100%;
  background-color: $white-marble;
  .filter-side {
    border: 3px solid $primary-gold;
    margin: 2rem;
    width: 20%;
    height: 100%;
    margin: 1rem 0.5rem;
    background-color: $italian-black;
    text-align: center;
    .filter {
      padding: 2rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

      .filter-checkbox {
        margin: 1rem;
        display: flex;
        flex-direction: column;
        div {
          margin: 1rem 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        input {
          height: 1.5rem;
          width: 1rem;
          margin-left: 5rem;
        }
      }
    }
    h1 {
      font-size: 3rem;
      text-align: center;
      margin: 1rem 0;
      color: $intense-white;
      font-family: "PinyonScript";
    }
    input {
      font-family: Georgia, "Times New Roman", Times, serif;
      width: 100%;
      height: 2rem;
      font-size: 1rem;
      &::placeholder {
        color: black;
        padding: 0 1px;
        font-size: 1.2rem;
      }
      &:focus {
        outline: none;
      }
    }
    button {
      width: 6rem;
      height: 2rem;
      text-transform: uppercase;
      font-size: 1rem;
      outline: none;
      border: none;
      font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
      transition: background-color, color 0.2s;
      &:hover {
        background-color: $primary-gold;
        color: $intense-white;
      }
    }
  }
  section {
    font-family: Merriweather;
    margin: 4rem 0;
    width: 70%;
    .no-card {
      color: black;
      text-transform: uppercase;
      font-size: 1.5rem;
    }
    .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 1rem;
    }
    .card-content {
      font-family: Merriweather;
      text-align: center;
      border: 3px solid $primary-gold;
      width: 100%;
      background-color: $dark-navy-blue;

      button {
        font-family: Merriweather;
        padding: 0.3rem 1.5rem;
        text-transform: uppercase;
        margin: 0.5rem 0;
        border: 2px solid $primary-gold;
        border-radius: 30px;
        background-color: transparent;
        color: $intense-white;
        transition: background-color 0.1s;
        outline: none;
        &:hover {
          background-color: $primary-gold;
        }
      }
    }
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }
}
.automobil-wrapper {
  position: relative;
  background-image: $background-image2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  height: 70vh;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .automobil-card {
    width: 75%;
    display: flex;
    gap: 1rem;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

    .automobil-image {
      width: 60%;
      border: 2px solid silver;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .automobil-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      width: 50%;
      height: 100%;
      gap: 0.5rem;

      img {
        width: 17rem;
        height: 4rem;
      }
      margin: 1rem;
      width: 50%;
      height: 100%;
      p {
        color: $intense-white;
        font-family: "Merriweather";
        font-size: 1.2rem;
      }
      .datePicker-container {
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: space-between;
        label {
          font-size: 1.1rem;
          font-family: Merriweather;
        }
        .datePicker-input {
          width: 80%;
          padding: 5px;
          border: 2px solid $king-blue;
          margin-left: 10px;
        }
      }
      .poruka-cena {
        text-transform: uppercase;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
      .rezervisi-button {
        width: 6.5rem;
        height: 2.1rem;
        margin: 1rem 0;
        font-family: "Merriweather";
        font-size: 1rem;
        background-color: $king-blue;
        transition: background-color 0.1s;
        outline: none;
        border: none;

        &:hover {
          background-color: $intense-white;
        }
      }
      .close-span {
        position: absolute;
        right: -15px;
        top: -15px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: black;
        background-color: $intense-white;
        padding: 8px;
        border-radius: 50%;
        z-index: 5;
      }
    }
  }
}

.hideOption {
  display: none;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: $primary-gold;
  font-weight: bold;
}
.error {
  color: red;
  font-family: Merriweather;
  text-transform: uppercase;
  font-weight: bold;
}
.success {
  color: green;
  font-family: Merriweather;
  text-transform: uppercase;
  font-weight: bold;
}

.automobil-wrapper .automobil-card .automobil-content button {
  width: 4.5rem;
  height: 1.1rem;
  background-color: $king-blue;
}
.automobil-wrapper .automobil-card .automobil-content span {
  display: none;
}

.prijavljen-korisnik {
  text-align: center;
  p {
    text-transform: uppercase;
    font-family: Merriweather;
  }
}

.odjava-btn {
  width: 7rem;
  height: 2rem;
  background-color: transparent;
  color: $intense-white;
  border: 2px solid $intense-white;
  text-transform: uppercase;
}

.notifikacija {
  width: 25%;
  font-family: Merriweather;
  font-weight: bold;
  text-align: center;
  color: $intense-white;
  position: absolute;
  right: -100%;
  top: 11%;
  z-index: 3;
  padding: 1rem;
  border: 1px solid red;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  background-color: rgba(0, 0, 0, 0.8);
  animation: slideIn 1s forwards;
  a {
    color: $primary-gold;
    text-transform: uppercase;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes fadaeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
    right: -100%;
    opacity: 0;
  }
  100% {
    right: 5%;
    opacity: 1;
  }
}
